<% layout('layouts/boilerplate') %>
  <div class="row">
    <div class="col-8 offset-2">
      <br><br>
      <h3>Create a Edit Listing</h3>

      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="row g-3 needs-validation" novalidate>
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input type="text" class="form-control" id="title" name="listing[title]" value="<%= listing.title %>" required />
          <div class="valid-feedback">Title looks good</div>
          <div class="invalid-feedback">Please enter the data!!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea id="description" class="form-control" name="listing[description]" required><%= listing.description %></textarea>
        <div class="valid-feedback">Great job!!</div>
        <div class="invalid-feedback">Please enter the data!!</div>
      </div>

        <div class="mb-3">
          <label for="image" class="form-label">Image URL:</label>
          <input type="text" id="image" class="form-control" name="listing[image][url]" value="<%= listing.image.url %>" />
        </div>
        <div class="row">
          <div class="mb-3 col-4 md-4">
            <label for="price" class="form-label">Price:</label>
            <input type="number" id="price" class="form-control" name="listing[price]" value="<%= listing.price %>" required />
            <div class="valid-feedback">Looks Good!!</div>
            <div class="invalid-feedback">Please enter the correct datatype!!</div>
          </div>
          <div class="mb-3 col-8 md-8">
            <label for="country" class="form-label">Country:</label>
            <input type="text" id="country" class="form-control" name="listing[country]" value="<%= listing.country %>"
              required />
            <div class="valid-feedback">Great!!</div>
            <div class="invalid-feedback">Please enter the data!!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input type="text" id="location" class="form-control" name="listing[location]" value="<%= listing.location %>"
            required />
          <div class="valid-feedback">Yaay you just completed the work</div>
          <div class="invalid-feedback">Please enter the data!!</div>
        </div>
        <br><br>
        <button class="btn btn-dark edit-btn" type="submit">Update Listing</button>
      </form>
    </div>
  </div> 